PORT=5001

DATABASE_URL="postgresql://postgres:admin@localhost:5432/ecommerce"

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

JWT_ACCESS_SECRET=04c5a051041cf3d97e4964bcf334e65e8eff0558764836b36f55f078c5b90215
JWT_REFRESH_SECRET=super_refresh_secret

NODE_ENV=development
FRONTEND_URL=http://localhost:5173